/* RESET ? 
*/
body {
    margin: 0;
}


/* POLICES UTILISEES 
*/


/* TITRE ET NOM DE L'AUTEUR */
header {
    text-align: center;
    background-color: black;
    color: white;
    margin-bottom: 20px;
}

#bookTitle {
    margin: 0;
}

#bookAuthor {
    margin-top: 0;
    font-size: 1.25em;
}

/* MENU */
ul {
    display: -webkit-inline-box;
    list-style-type: none;
    padding-inline-start: 0;
    margin-bottom: 0;
}

li {
    margin: 0.2em 0.5em 0.2em 0.5em;
}


/* AFFICHAGE DES CHAPITRES */
.listChapters {
    border: 4px double black;
    margin: 5px;
    padding: 5px;
}

h3 {
    margin: 5px;
}


/* FOOTER */
footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
}






/* PAGE CONTACT */

.contactForm {
    height: 60%;
    width: 20%;
    margin-top: 5%;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    background-color: rgba(156, 156, 156, 0.7);
}

.contactForm input, textarea {
    width: 100%;
    margin-top: 1em;
    border-style: none;
    border-radius: 3px;
}

#contactTitle {
    margin : 0;
}